API_KEY=
CLIENT_ID=
PASSWORD=
PIN=
API_SECRET=
PORT=
MONGO_URI= 
MONGO_URI_TESTS=
NODE_ENV=
ACCOUNT_SID=
WHATSAPP_NUMBER:
ACCOUNT_AUTH_TOKEN=
FREE_TICKS=
TELEGRAM_BOT_TOKEN=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=